# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Azure Functions
.local.settings.json
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test & Coverage
htmlcov/
.coverage
.tox/

# Misc
*.swp
*.bak
*.tmp

# Node
node_modules/

# Others
*.sqlite3
*.db

# Ignore OpenAPI secrets
openapi-secrets.json
